.home-page {
    text-align: center;
    background: #e0e0e0;
}

/*.home-page:hover {*/
/*    transform: rotateY(45deg);*/
/*}*/

.animated-title {
    margin-top: 40vh;
}

.Typewriter {
    display: inline-block;
    text-decoration: underline;
}

.code-links {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.social-links {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links > div {
    margin: 0 10px;
}

.code-links > div {
    margin: 0 10px;
}
