.home-page {
    text-align: center;
    background: #e0e0e0;
}

.animated-title {
    margin-top: 40vh;
    font-size: 30px;
}

.Typewriter {
    display: inline-block;
    font-weight: bold;
}

.code-links {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.social-links {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links > div {
    margin: 0 10px;
}

.code-links > div {
    margin: 0 10px;
}

@media only screen and (max-width: 700px) {
    .animated-title {
        font-size: 25px;
    }
    .social-links {
        bottom: 25px;
        left: 25px;
    }
    .code-links {
        bottom: 25px;
        right: 25px;
    }
    .social-links > div {
        margin: 0 5px;
    }
    .code-links > div {
        margin: 0 5px;
    }
}
