.page-body {
  min-height: calc(100vh - var(--header-height) - 40px);
  margin-top: var(--header-height);
  padding: 20px;
  height: 100%;
  position: relative;
}

.full-page {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
}

.folder {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
}
.folder img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.folder.rounded img {
  border-radius: 50%;
}
.folder.with-background img {
  background-color: var(--background-color);
}
.folder .folder-name {
  font-size: 12px;
  text-align: center;
}
.folder-color {
  color: #00a0ff;
}

.dialog-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    flex: 1;
    margin-right: 20px;
  }
}

.primary-color {
  color: var(--primary-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: var(--background-secondary-color);
}

.mb-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}
