html {
  --primary-color: black;
  --secondary-color: #202020;
  --background-color: white;
  --background-secondary-color: white;
  --font-color: black;
  --header-height: 60px;
}

html[data-theme="dark"] {
  --primary-color: #7FFF00;
  --secondary-color: #4fcd00;
  --background-color: black;
  --background-secondary-color: #333;
  --font-color: white;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}